/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
}


.rover-hp-container{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
} 
.flex{
  display: flex;
}

.rover-header-container{
  justify-content: space-between;
  align-items: center;
}

.rover-header-left{
  display: flex;
  align-items: center;
}
.rover-header-left a{
  text-decoration: none;
  color: gray;
  padding-left: 10px;
}

.rover-header-right a{
  text-decoration: none;
  color: gray;
  padding-left: 10px;
}
.rover-header-right{
  display: flex;
  flex-direction: row;
}

.rover-header-image{
  height: 50px;
}


/* hide header */

.rover-header-link {
  display: none;
}

@media (min-width: 800px) {
  .rover-header-link {
    display: block;
  }
}


.rover-header-right-mobile {
  display: block;
}

@media (min-width: 800px) {
  .rover-header-right-mobile {
    display: none;
  }
}

.rover-header-right-mobile img {
  margin: 13px 15px 13px 0;
  padding: 9px 10px;
  border: 1px solid #acbcca;
  border-radius: 4px;
  color: #14a96d;
}


/* hero container */

.rover-hero-container{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 800px) {
  .rover-hero-container {
    background-image: url("https://images.unsplash.com/photo-1527526029430-319f10814151?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGRvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center top;
    height: 500px;
  }
}

.rover-hero-title {
  color: #66727c;
  display: none;
  text-transform: capitalize;
}

 @media (min-width: 800px) {
  .rover-hero-title {
    display: inherit;
    font-size: 40px;
    margin-left: 10px;
    
  }
} 

.rover-hero-container p {
  color: #66727c;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 30px;

}

@media (min-width: 800px) {
  .rover-hero-container p {
    max-width: 450px;
  }
}

.rover-button {
  background-color: #14a96d;
  border: 1px solid #0a5738;
  border-radius: 4px;
  color: white;
  width: 250px;
  padding: 15px 0px;
  text-align: center;
  margin-left: 20px;
}



@media (max-width: 600px){
.rover-cta{
  display: none;
}
}


@media (min-width: 600px){
   .rover-cta-mobile{
    display: none;
  }
}

.rover-middle-section h2{
 text-align: center;
}



/* Mobile hero */

.rover-mobile-hero {
  min-width: 0;
  max-width: 100%;
}
.rover-mobile-hero-container {
  display: none;
}

@media (max-width:600px) {
  .rover-mobile-hero-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}


.rover-two-boxes-container{
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px){
    .rover-two-boxes-container{
      grid-template-columns: repeat(2, 1fr);
    }
}

.rover-cta-header img{
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.rover-cta-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 225, 231);
  padding : 20px 20px;
}

 .rover-cta-bottom-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
} 

.rover-cta{
  text-align: center;
  background-color: #14a96d ;
  color: white;
  padding: 10px 0;
  margin : 20px 50px;
}
.rover-protections{
text-align: center;
}

.rover-fact-indiv img{
  height: 50px;
  width: 50px;
  margin-right: 30px;

}
.rover-fact-indiv{
  display: flex;
  align-items: center;

}

.rover-action-shot{
  height: 600px;
  background-image: url("../img/lady-with-her-dogs.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: 30px;
}


.rover-action-quote-container{
background-color: white;
width: 200px;
height: 200px;
margin-left: 80px;
text-align: center;
padding: 50px 10px;
border: 1px solid rgb(182, 182, 182);
}
.rover-quote span{
  font-size: 30px;
}

.rover-action-dash{
  height: 3px;
  width: 50px;
  background-color: #14a96d;
}

.rover-123-container-title{
  text-align: center;
}

.rover-123-item-container{
 display: grid;
 grid-template-columns: 1fr;
}

@media (min-width: 600px){
  .rover-123-item-container{
    grid-template-columns: repeat(3,1fr);
  }
}

.rover-123-item img{
  height: 80px;
  width: 80px;
  padding-right: 20px;
}
